
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<br />

<p><del>#1 Profilim</del></p>
<p><del>#2 Tüm Başlıklarda paging</del> </p>
<p><del>#3 Mesajlarda Session</del></p>
<p>#4 Oturum yönetiminin mimariye taşınması</p>
<p>#5 Token Kullanımı</p>



